Problem Statement:
Women Health care requirements seem to increase at a rapid pace of 6% y-o-y and understanding these patterns could greatly influence and help in delivering expert advise and quality care 

A US non profit organization has provided survey related information for 3 consecutive years of various women along with 14 possible health care requirements that they needed in the last one year


People across the United States were asked a series of over 1700 questions about their demographics, pregnancies, family planning, use of healthcare services, and medical insurance. We're focusing on the respondents to these questions that are women, and each row in the provided data represents an individual.

In [50]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer

In [51]:
df1_traindata=pd.read_csv(r'D:\Capstone_Project\train_Data.csv')
df1_trainlabels=pd.read_csv(r'D:\Capstone_Project\train_labels.csv')

C:\Users\vkatepally\AppData\Local\Continuum\anaconda3\envs\py36\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (329,331,333,336,338,344,345,346,348,354,355,356,357,358,361,362,364,367,372,377,380,383,385,387,390,392,399,400,406,408,409,413,416,418,419,431,433,437,438,442,448,449,450,453,457,464,473,478,479,481,483,485,486,489,492,495,496,497,498,499,500,503,507,508,510,511,514,515,517,519,520,521,522,523,524,526,527,530,534,537,538,539,541,544,547,548,549,550,551,557,558,560,564,569,572,573,576,577,579,583,596,597,598,600,601,602,604,605,606,608,609,613,619,620,625,627,628,629,631,632,633,636,641,642,643,645,646,647,648,651,655,661,662,665,668,675,676,679,682,685,687,689,690,691,694,698,701,702,703,706,711,712,713,719,720,721,733,735,737,738,742,746,747,748,749,752,754,755,760,764,768,770,781,782,789,797,807,812,814,817,818,822,823,824,825,832,840,843,844,845,850,853,857,858,861,867,868,873,874,876,877,879,880,881,883,886,890,893,897,899,900,901,902,904,905,908,909,910,912,913,914,915,916,922,923,931,933,935,937,939,942,943,946,951,955,960,964,965,968,969,970,973,974,977,980,987,994,995,996,999,1000,1008,1014,1015,1016,1017,1020,1021,1023,1028,1031,1035,1036,1037,1039,1040,1043,1048,1051,1055,1058,1059,1072,1073,1074,1081,1090,1097,1098,1103,1104,1109,1112,1113,1114,1118,1120,1130,1134,1135,1139,1140,1147,1148,1149,1152,1154,1157,1158,1162,1163,1164,1166,1169,1174,1177,1180,1181,1182,1183,1185,1188,1189,1195,1197,1198,1200,1203,1208,1210,1212,1215,1217,1220,1222,1225,1229,1230,1233,1234,1241,1243,1246,1250,1251,1252,1254,1259,1262,1263,1265,1266,1269,1270,1273,1274,1276,1277,1279,1280,1282,1284,1285,1286,1289,1291,1292,1293,1294,1295,1301,1302,1304,1305,1306,1308,1309,1311,1313,1316,1318,1320,1322,1323,1325,1330,1335,1337,1340,1341,1343,1345,1350,1351,1352,1354,1357,1358,1359,1360,1361,1368,1369,1372,1377) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
#shape of teh data frame
df1_traindata.shape
#checking if there are  any missing values
#(df1_traindata.isnull().sum())

(14644, 1379)

In [53]:
#finding the duplicates and dropping if any found
df1_traindata=df1_traindata.drop_duplicates(subset=['id','release'],keep='first')

df1_traindata.shape
#no duplcates found

(14644, 1379)

In [54]:
#our data is very sparse matrix lets take the columns which has more information 
#Consider the columns which has more than 70 percent of the data
threshold=14644*.7

columns_To_Be_Removed=[]

a1=df1_traindata.isnull().sum()
#a1
for columnName,noOfNulls in a1.items():
    if(noOfNulls>threshold):
        columns_To_Be_Removed.append(columnName)

    
    
#print(len(columns_To_Be_Removed))

#dropping the columns which doen't have 70 percent of data

df1_traindata_updated=df1_traindata.drop(labels=columns_To_Be_Removed,axis=1)
df1_traindata_updated.shape

(14644, 259)

In [59]:
#Now we have 259 columns which have more than 70 percent of data
#finding which type of variable exist in updated data frame

#Imputting the numeric columns with mean
#Imputting the categorical and ordinal with mode

no_Of_numeric_columns=0

no_Of_categoric_columns=0

no_Of_ordinal_columns=0

for i in df1_traindata_updated.columns:
    if(i[0]=='n'):
        
        imp=Imputer(missing_values='NaN',strategy='mean')
        df1_traindata_updated[i]=imp.fit_transform(df1_traindata_updated[i].values.reshape(-1,1))
        no_Of_numeric_columns=no_Of_numeric_columns+1
        
    elif(i[0]=='c'):
        
        #Imputer function doesn't work with the categorical values
        
        df1_traindata_updated[i]=df1_traindata_updated[i].fillna(df1_traindata_updated[i].value_counts().index[0])
        #imp=Imputer(missing_values='NaN',strategy='most_frequent')
        #df1_traindata_updated[i]=imp.fit_transform(df1_traindata_updated[i].values.reshape(-1,1))
        no_Of_categoric_columns=no_Of_categoric_columns+1
    elif(i[0]=='o'):
        
        imp=Imputer(missing_values='NaN',strategy='mean')
        df1_traindata_updated[i]=imp.fit_transform(df1_traindata_updated[i].values.reshape(-1,1))
        no_Of_ordinal_columns=no_Of_ordinal_columns+1


print("numeric columns",(no_Of_numeric_columns))
print("categoric columns",no_Of_categoric_columns)
print("ordinal columns",no_Of_ordinal_columns)

numeric columns 23
categoric columns 209
ordinal columns 25

In [60]:

#checking if all the columns has all the values
df1_traindata_updated.isnull().sum()

id         0
release    0
n_0002     0
n_0005     0
n_0012     0
n_0019     0
n_0034     0
n_0038     0
n_0047     0
n_0050     0
n_0052     0
n_0061     0
n_0064     0
n_0067     0
n_0075     0
n_0078     0
n_0083     0
n_0086     0
n_0091     0
n_0099     0
n_0100     0
n_0102     0
n_0108     0
n_0109     0
n_0110     0
o_0120     0
o_0125     0
o_0132     0
o_0141     0
o_0144     0
          ..
c_1225     0
c_1227     0
c_1234     0
c_1235     0
c_1236     0
c_1237     0
c_1238     0
c_1239     0
c_1244     0
c_1247     0
c_1252     0
c_1259     0
c_1267     0
c_1270     0
c_1282     0
c_1286     0
c_1316     0
c_1320     0
c_1326     0
c_1328     0
c_1330     0
c_1333     0
c_1335     0
c_1343     0
c_1347     0
c_1348     0
c_1361     0
c_1363     0
c_1372     0
c_1374     0
Length: 259, dtype: int64

In [71]:
#multi class classification problem

#lets consider first 4 columns of train labels

a=df1_trainlabels.iloc[:,1:5]
#df=df1_traindata_updated.merge()
from sklearn.covariance import