Practise exercise python

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv(r'C:\Users\vkatepally\Practice\train.csv')

In [3]:
df1.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
df1.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [5]:
#1.	How do we convert "4+" in "Stay_in_current_city_years" variable  to a value of 4?
df1['Stay_In_Current_City_Years'].describe()
df1['Stay_In_Current_City_Years'][df1['Stay_In_Current_City_Years']=='4+']=4
df1['Stay_In_Current_City_Years'].value_counts()

C:\Users\vkatepally\AppData\Local\Continuum\anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

1    193821
2    101838
3     95285
4     84726
0     74398
Name: Stay_In_Current_City_Years, dtype: int64

In [6]:
#2.	How many rows exist with a marital_status = 0?
a=(df1['Marital_Status']==0)
a.value_counts()
#print(type(a))

True     324731
False    225337
Name: Marital_Status, dtype: int64

In [7]:
#3.	How many rows exist within the age_group of "26-35" with a marital status =0?
df1[(df1['Age']=='26-35') &  (df1['Marital_Status']==0 )]['User_ID'].count()

133296

In [8]:
#4.	How many distinct users exist within the age_group of "26-35" with a marital status =0?
df1[(df1['Age']=='26-35') &  (df1['Marital_Status']==0 )]['User_ID'].unique().size

1244

In [9]:
#5.	How many distinct age groups exist?

df1['Age'].unique().size
print(df1['Age'].value_counts())

26-35    219587
36-45    110013
18-25     99660
46-50     45701
51-55     38501
55+       21504
0-17      15102
Name: Age, dtype: int64

In [10]:
#6.	How many distinct User_IDs exist?
print(df1['User_ID'].unique().size)

5891

In [11]:
#7.	Which product_ID occurs the most frequently?
df1['Product_ID'].describe()
print(df1['Product_ID'].value_counts().index[0])

P00265242

In [12]:
#8.What is the average purchase rate of gender = f & gender = m?
print(df1[df1['Gender']=='F']['Purchase'].mean())

print(df1[df1['Gender']=='M']['Purchase'].mean())


a=df1.groupby('Gender')
print(a.Purchase.mean())

print(df1.groupby('Gender')['Purchase'].mean())

8734.565765155476
9437.526040472265
Gender
F    8734.565765
M    9437.526040
Name: Purchase, dtype: float64
Gender
F    8734.565765
M    9437.526040
Name: Purchase, dtype: float64

In [13]:
#9.	What is the average value of purchase when gender = f or age_group = "0-17"
a=df1[(df1['Gender']=='F') | (df1['Age']=='0-17')]
a['Purchase'].mean()

8768.959644238417

In [14]:
#10.	What is the average value of purchase within the odd rows of train.csv?
a1=np.arange(1,df1.shape[0],2)
print(a1)
df1.loc[a1,]['Purchase'].mean()

[     1      3      5 ... 550063 550065 550067]

9274.323814510206

Signature: df1.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
Docstring:
Remove missing values.

See the :ref:`User Guide <missing_data>` for more on which values are
considered missing, and how to work with missing data.



Parameters
----------
axis : {0 or 'index', 1 or 'columns'}, default 0
    Determine if rows or columns which contain missing values are
    removed.

    * 0, or 'index' : Drop rows which contain missing values.
    * 1, or 'columns' : Drop columns which contain missing value.

    .. deprecated:: 0.23.0: Pass tuple or list to drop on multiple
    axes.
how : {'any', 'all'}, default 'any'
    Determine if row or column is removed from DataFrame, when we have
    at least one NA or all NA.

    * 'any' : If any NA values are present, drop that row or column.
    * 'all' : If all values are NA, drop that row or column.
thresh : int, optional
    Require that many non-NA values.
subset : array-like, optional
    Labels along other axis to consider, e.g. if you are dropping rows
    these would be a list of columns to include.
inplace : bool, default False
    If True, do operation inplace and return None.

Returns
-------
DataFrame
    DataFrame with NA entries dropped from it.

In [24]:
#11.	create a new dataset (train2) that does not have any row in train.csv that has  missing value
df1.isnull().sum()
df2=df1.dropna(axis=0,how='any')
df2.isnull().sum()

User_ID                       0
Product_ID                    0
Gender                        0
Age                           0
Occupation                    0
City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
dtype: int64

In [35]:
#12.In which city_category do most of the users within age group "0-17" live?


df1[df1['Age']=='0-17']['City_Category'].value_counts().index[0]


#d=df1.groupby('')

'C'

In [39]:
#13.	For how many rows is "Product_category_2" missing a value?
df1.isnull().sum()['Product_Category_2']

173638

In [50]:
#14.	Which value of "Product_category_1" occurs the most whenever product_category_2 value is missing?
df3=df1[(df1['Product_Category_2'].isna())==True]
df3['Product_Category_1'].value_counts().index[0]

5

In [72]:
#15.	Of all the users that exist in "test.csv", how many of them, also exist in "train.csv"
df1_test=pd.read_csv(r'C:\Users\vkatepally\Practice\test.csv')
#print(df1_test.head())
#print(df1.head())
#print(df1['User_ID'].count())
train_unique=np.unique(df1['User_ID'].values)#train user id unique values
test_unique=np.unique(df1_test['User_ID'].values)
#print(len(train_unique))
#print(len(test_unique))

unique_userIds=[]
for i in test_unique:
    if(i in train_unique):
        unique_userIds.append(i)
        
print(len(unique_userIds))

550068
5891

In [67]:
#16.	Of all the users in "train.csv" how many of them also exist in "test.csv"
unique_userIds1=[]
for i in train_unique:
    if(i in test_unique):
        unique_userIds1.append(i)
        
print(len(unique_userIds1))

5891

In [ ]:
#17.	What is the average purchase of customers who exist in "train.csv" but not in "test.csv"

In [76]:
#18.	How many distinct combinations of "user_id" & "Product_id" are available in train.csv?
#print(df1)
df1_dropped=df1.drop_duplicates(subset=['User_ID','Product_ID'])
df1_dropped.count()[0]

550068

In [97]:
#19.	Among all the variables from "Gender" to "Product_Category_3":
#A)	Calculate the average purchase rate for all the distinct values of each variable
#B)	identify the variable that has the highest lift in purchase rate
#(For example, if city has 3 distinct values (A,B,C) with average purchase rate of 	100,200,300 & overall average of 200 - lift is (300/200 - 100/200) 
#i.e., (highest average value/ overall average purchase - lowest average value/ 	overall average purchase)

def lift(column):
    
    a1=df1.groupby(column)
    min_mean=a1.Purchase.mean().min()
    #print(min_mean)
    max_mean=a1.Purchase.mean().max()
    #print(max_mean)
    mean_mean=a1.Purchase.mean().mean()
    #print(mean_mean)
    
    return ((max_mean/mean_mean)-(min_mean/mean_mean))
    
    

columns=['Gender','Age','Occupation','City_Category','Stay_In_Current_City_Years','Marital_Status',
         'Product_Category_1','Product_Category_2','Product_Category_3']    
lift('Age')

for i in columns:
    print("lift of ", i ,"is",lift(i))

lift of  Gender is 0.07736701782445188
lift of  Age is 0.06499314910766774
lift of  Occupation is 0.12807221393122648
lift of  City_Category is 0.0872451248814089
lift of  Stay_In_Current_City_Years is 0.015152788726746858
lift of  Marital_Status is 0.0005109325677757903
lift of  Product_Category_1 is 2.164759113514694
lift of  Product_Category_2 is 0.8878081794947952
lift of  Product_Category_3 is 0.4423813877453987

In [ ]:
#20.Write a function that takes variable name as input & gives out the frequency of 
#occurrence table of the distinct values of the variable

def

In [101]:
#21.	Write a function that takes variable name & creates dummy variables:
#	For example, if we give age as input to the function, then the function creates 7 	distinct 	columns named Age_0-17, Age_55+ so on.,
#	For each of the 7 columns, it gives a value of 1 to the row if the value belongs to the 	column - i.e., Age_0-17 will be 1 only if Age = "0-17" else it is a 0.

#one hot encoding

from sklearn.preprocessing import OneHotEncoder

df=pd.DataFrame()

def create_dummy(x):
    for i in x.unique():
        df[str(i)] = (x == i)
    return df

create_dummy(df1['Gender'])

            F      M
0        True  False
1        True  False
2        True  False
3        True  False
4       False   True
5       False   True
6       False   True
7       False   True
8       False   True
9       False   True
10      False   True
11      False   True
12      False   True
13      False   True
14       True  False
15       True  False
16       True  False
17       True  False
18      False   True
19      False   True
20      False   True
21      False   True
22      False   True
23      False   True
24      False   True
25      False   True
26      False   True
27      False   True
28      False   True
29       True  False
...       ...    ...
550038   True  False
550039   True  False
550040   True  False
550041  False   True
550042  False   True
550043   True  False
550044   True  False
550045   True  False
550046   True  False
550047   True  False
550048  False   True
550049  False   True
550050  False   True
550051   True  False
550052  False   True
550053   True  False
550054  False   True
550055  False   True
550056  False   True
550057  False   True
550058  False   True
550059   True  False
550060  False   True
550061   True  False
550062  False   True
550063  False   True
550064   True  False
550065   True  False
550066   True  False
550067   True  False

[550068 rows x 2 columns]