Practise exercise python

In [2]:
import pandas as pd
import numpy as np

In [5]:
df1=pd.read_csv(r'C:\Users\vkatepally\Practice\train.csv')

In [7]:
df1.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [9]:
df1.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [15]:
#1.	How do we convert "4+" in "Stay_in_current_city_years" variable  to a value of 4?
df1['Stay_In_Current_City_Years'].describe()
df1['Stay_In_Current_City_Years'][df1['Stay_In_Current_City_Years']=='4+']=4
df1['Stay_In_Current_City_Years'].value_counts()

C:\Users\vkatepally\AppData\Local\Continuum\anaconda3\envs\py36\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

1    193821
2    101838
3     95285
4     84726
0     74398
Name: Stay_In_Current_City_Years, dtype: int64

In [25]:
#2.	How many rows exist with a marital_status = 0?
a=(df1['Marital_Status']==0)
a.value_counts()
#print(type(a))

True     324731
False    225337
Name: Marital_Status, dtype: int64

In [37]:
#3.	How many rows exist within the age_group of "26-35" with a marital status =0?
df1[(df1['Age']=='26-35') &  (df1['Marital_Status']==0 )]['User_ID'].count()

133296

In [46]:
#4.	How many distinct users exist within the age_group of "26-35" with a marital status =0?
df1[(df1['Age']=='26-35') &  (df1['Marital_Status']==0 )]['User_ID'].unique().size

1244

In [50]:
#5.	How many distinct age groups exist?

df1['Age'].unique().size
print(df1['Age'].value_counts())

26-35    219587
36-45    110013
18-25     99660
46-50     45701
51-55     38501
55+       21504
0-17      15102
Name: Age, dtype: int64

In [52]:
#6.	How many distinct User_IDs exist?
print(df1['User_ID'].unique().size)

5891

In [60]:
#7.	Which product_ID occurs the most frequently?
df1['Product_ID'].describe()
print(df1['Product_ID'].value_counts().index[0])

P00265242

In [77]:
#8.What is the average purchase rate of gender = f & gender = m?
print(df1[df1['Gender']=='F']['Purchase'].mean())

print(df1[df1['Gender']=='M']['Purchase'].mean())


a=df1.groupby('Gender')
print(a.Purchase.mean())

print(df1.groupby('Gender')['Purchase'].mean())

8734.565765155476
9437.526040472265
Gender
F    8734.565765
M    9437.526040
Name: Purchase, dtype: float64
Gender
F    8734.565765
M    9437.526040
Name: Purchase, dtype: float64

In [83]:
#9.	What is the average value of purchase when gender = f or age_group = "0-17"
a=df1[(df1['Gender']=='F') | (df1['Age']=='0-17')]
a['Purchase'].mean()

8768.959644238417

In [88]:
#10.	What is the average value of purchase within the odd rows of train.csv?
a1=np.arange(1,df1.shape[0],2)
print(a1)
df1.loc[a1,]['Purchase'].mean()

[     1      3      5 ... 550063 550065 550067]

9274.323814510206

In [ ]:
#11.	create a new dataset (train2) that does not have any row in train.csv that has  missing value